[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "beastt"]
	path = beastt
	url = https://github.com/gsk-biostatistics/beastt
[submodule "cicalc"]
	path = cicalc
	url = https://github.com/gsk-biostatistics/cicalc
[submodule "docorator"]
	path = docorator
	url = https://github.com/gsk-biostatistics/docorator
[submodule "hassediagrams"]
	path = hassediagrams
	url = https://github.com/gsk-biostatistics/hassediagrams
[submodule "repfun"]
	path = repfun
	url = https://github.com/gsk-biostatistics/repfun
[submodule "tfrmt"]
	path = tfrmt
	url = https://github.com/gsk-biostatistics/tfrmt
[submodule "tfrmtbuilder"]
	path = tfrmtbuilder
	url = https://github.com/gsk-biostatistics/tfrmtbuilder
