[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tfrmt"]
	path = tfrmt
	url = https://github.com/gsk-biostatistics/tfrmt
[submodule "tfrmtbuilder"]
	path = tfrmtbuilder
	url = https://github.com/gsk-biostatistics/tfrmtbuilder
