[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "beastt"]
	path = beastt
	url = https://github.com/gsk-biostatistics/beastt
[submodule "hassediagrams"]
	path = hassediagrams
	url = https://github.com/gsk-biostatistics/hassediagrams
[submodule "tfrmt"]
	path = tfrmt
	url = https://github.com/gsk-biostatistics/tfrmt
[submodule "tfrmtbuilder"]
	path = tfrmtbuilder
	url = https://github.com/gsk-biostatistics/tfrmtbuilder
